<div class="container">
   	<div class="cssmenu">
		<ul>
			<li class="active"><a href="login.html">Privacy Policy</a></li> .
			<li><a href="checkout.html">Terms of Service</a></li> .
			<li><a href="checkout.html">Creative Rights Policy</a></li> .
			<li><a href="login.html">Contact Us</a></li> .
			<li><a href="register.html">Support & FAQ</a></li>
		</ul>
	</div>
	<div class="copy">
		   <p>&copy;  2015 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
	   </div>
	   <div class="clearfix"> </div>
</div>