<div class="sidebar">
	<div class="menu_box">
		<h3 class="menu_head">SẢN PHẨM </h3>
		<ul class="menu">
			<% @all_categories.each do |category| %>
				<li class="item1">
					<a href=<%= category_path(category)%>>
						<img class="arrow-img" src=<%=image_path("f_menu.png")%> alt=""/><%= category.title %>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>