<div class="col-md-8 box_1">
	<a href="single.html">
	    <div class="grid_1">
	    	<% product = @products.first %>
	    	<div class="b-link-stroke b-animate-go  thickbox">
		    	<img src=<%=image_path("p2.jpg")%> class="img-responsive" alt=""/>
		  	</div>
	    <div class="grid_2">
	    	<p><%= product.title %></p>
	     	<ul class="grid_2-bottom">
	     		<li class="grid_2-left"><p><%= product.price %></p></li>
	     		<li class="grid_2-right"><div class="btn btn-primary btn-normal btn-inline " target="_self" title="Get It">Get It</div></li>
	     		<div class="clearfix"> </div>
	     	</ul>
	    </div>
	  </div>
	</a>
</div>